;kkde_preview_run.ks - KKDEプレビュー実行シナリオ
;Copyright (C) 2009 PORING SOFT


*init|
;-----------------------------------------------------------
;初期化
@clear
@msgoff


*start|
@cm
;-----------------------------------------------------------
;↓ここからはプログラムで使用するので絶対に編集しないでください。↓
<<__PREVIEW_HEAD__>>

<<__PREVIEW_TAG__>>
;↑ここまではプログラムで使用するので絶対に編集しないでください。↑
